.btn-main-button {
    background-color:  #5941A9;
    color: #F0F6F6;
  
    padding: 5px 15px;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .btn-main-button:hover {
    background-color:  #5941A9;
    color: #F0F6F6;
  
    opacity: 0.8;
  }